.input--container {
  @include flexContainer(row, center, unset);
  padding: 1rem;
  border-radius: 5px;
  &__input {
    flex-grow: 1;
    @include hw(3rem, auto);
    @include noborderoutline;
    font-size: clamp(1.1rem, 2vw, 1.2rem);
    background-color: transparent;
    color: hsl(234, 11%, 52%);

    @media (max-width: 768px) {
      width: 12rem;
    }
  }
  &__button {
    @include hw(3rem, 4rem);
    cursor: pointer;
    @include noborderoutline;
    font-size: 1rem;
    background-color: transparent;
    color: hsl(234, 11%, 52%);
  }
}
